<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lionzxy.printbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.print_map.ui.PrintMapActivity" />
        <activity
            android:name=".view.splashscreen.ui.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.intro.ui.IntroActivity" />
        <activity android:name=".view.auth.ui.AuthActivity" />
        <activity android:name=".view.register.ui.RegisterActivity" />
        <activity android:name=".view.vk.view.LoginVkActivity" />
        <activity android:name=".view.main.ui.MainActivity" />
    </application>
</manifest>
